/* Global */
* {
  box-sizing: border-box;
}

:root {
  --primary: #ea4440;
  --widgetBackground: #ffffff;
  --text-primary: #534746;
  --text-disabled: hsl(4, 4%, 65%);
  --background-disabled: hsl(4, 4%, 95%);
  --input-background: hsl(0, 0%, 95%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2f2f2f;
    --widgetBackground: #4b4b4b;
    --text-primary: #f4f1f1;
    --background-disabled: hsl(0, 2.2%, 35.7%);
    --input-background: #2f2f2f;
  }
}

body {
  color: var(--text-primary);
  background-color: var(--background);
}

h1,
h2,
h3,
h4 {
  font-family: "Pacifico", "Fira Sans", sans-serif;
  font-size: 2rem;
}

p,
span,
label {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
}

input[type="submit"],
button {
  font-family: "Fira Sans", sans-serif;
  color: var(--text-primary);
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
}

button:disabled {
  color: var(--text-disabled);
  background: var(--background-disabled);
  cursor: not-allowed;
}

/* End Global */

/* Utility */

.m--non {
  margin: 0;
}

.m--xsm {
  margin: 0.25rem;
}

.m--sml {
  margin: 0.5rem;
}

.m--med {
  margin: 1rem;
}

.m--lrg {
  margin: 1.5rem;
}

.m--center {
  margin: 0 auto;
}

.p--non {
  padding: 0;
}

.p--sml {
  padding: 0.5rem;
}

.p--med {
  margin: 1rem;
}

.p--lrg {
  margin: 1.5rem;
}

.flow--sml > * + * {
  margin-top: 0.5rem;
}

.flow--med > * + * {
  margin-top: 1rem;
}

.flow--lrg > * + * {
  margin-top: 1.5rem;
}

.border-curve--top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.border-curve {
  border-radius: 6px;
}

.flex-container {
  display: flex;
}

.flex-container--column {
  display: flex;
  flex-direction: column;
}

.flex-container--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sans {
  font-family: "Fira Sans", sans-serif;
}

.monospace {
  font-family: "Fira Code", monospace;
}

.italic {
  font-style: italic;
}

.text--lrg {
  font-size: 1.5rem;
}

.text--med {
  font-size: 1rem;
}

.text--sml {
  font-size: 0.5rem;
}

.hidden {
  display: none;
}

/* End Utility */

/* Layout */

.widget-grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  list-style: none;
  gap: 1rem; */
  max-width: 1048px;
}

.widget-container {
  position: relative;
  background-color: var(--widgetBackground);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

/* End Layout */

/* Class Components */
.button,
.button-list > button {
  border: 1px solid var(--text-primary);
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 14px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 0.5rem;
}

.button-list > button:last-child {
  margin-right: 0;
}

/* Handles inline spanned icons */
.button-list button > *,
.button > * {
  margin-right: 0.5rem;
}

.input--shrunk {
  min-width: 0;
}

.title__input {
  resize: none;
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5rem;
  padding: 0.25rem 0;
  letter-spacing: 1px;
  width: 85%;
  text-align: center;
  overflow: hidden;
}

.title__input:focus {
  background: white;
  color: hsl(1, 20%, 20%);
}

.title__input:hover:not(:focus) {
  background-color: rgba(0, 0, 0, 0.1);
}

.countdown__input {
  min-width: 0;
  font-size: 2rem;
  text-align: center;
  font-family: "Fira Code", monospace;
  background: var(--input-background);
  color: var(--text-primary);
  border-radius: 6px;
  border: none;
}
/* End Class Components */

/* Exceptions */
.close-button {
  background: none;
  border: none;
  margin-left: auto;
  padding: 0;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3px;
  right: 3px;
}

.close-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.picker-container {
  position: absolute;
  z-index: 2;
  right: -9px;
  top: 30px;
}

.color-selection-button-container {
  margin-left: auto;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.5);
  align-self: flex-end;
  position: relative;
}

.color-selection-button-container > button {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin-right: 0;
  border: none;
  cursor: pointer;
}

.select-container {
  min-width: 100px;
  align-self: stretch;
  margin-left: 0.5rem;
  color: var(--text-primary);
  background-color: var(--input-background);
  border-radius: 6px;
}

.drag-handle {
  background: none;
  border: none;
  margin-right: auto;
  padding: 0;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3px;
  left: 3px;
}
/* End Exceptions */
