:root {
  --background: #ffffff;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2f2f2f;
  }
}
